body{
    /* background-color: #BFDCE5; */
  }
.todotask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 60vw;
    height: 60vh;
    margin-left: 20rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    margin-top: 8rem;
}